{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        <div>
        {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
                <time>{{ .Date | time.Format (i18n "post.created") }}</time>
            {{ else }}
                <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
            {{ end }}
        {{- end -}}
        </div>
    </header>
    {{- .Content -}}

    <!-- Add categories if they exist -->

    {{ with (.GetTerms "categories") }}
    
        <p><strong>Categories</strong>:
            {{ range (.) }}
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </p>
    
    {{ end }}

    <!-- Get tags if they exist -->

    {{ with (.GetTerms "tags") }}
        
        <p><strong>Tags</strong>:
            {{ range (.) }}
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </p>
    
    {{ end }}
    
</article>
{{ end }}
